*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 5rem auto;
    width: 40%;
}
.wrapper{
    margin-top: 2rem;
}
li{
    list-style: none;
}
.done{
    text-decoration: line-through;
}